body {
    text-align: center;
    background-image:url("https://qph.fs.quoracdn.net/main-qimg-93fbb595cfb0f2e08ff679e65ec90ca3-c");
    background-size:cover;
    background-repeat:no-repeat;
}
h1{
    color:rgb(217, 217, 26);
    font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:80px;
}
h2{
   color: rgb(76, 29, 169);
   font-weight:bold;
   font-size:60px;
}

h2 {
    margin-top: 60px;
    margin-bottom:60px;
}

button {
    border: 2px solid black;
    background: goldenrod;
    width: 200px;
    height:50px;
    text-align:center;
    font-weight: bold;
    border-radius: 10px;
    padding: 40px;
    margin:0 4px;
    font-size:20px;
    color:green;
    font-size:25px;
}
a{
    text-decoration:none;
    color:green;
    text-align:center;
}
a:hover{
    color:blue;
}